<div class="rounded-2xl overflow-hidden max-w-3xl mx-auto block relative group bg-neutral-950 mb-12 border ">
    <video class="w-full transition-opacity block" autoplay loop muted playsinline controls>
        <source src="{{ site.path }}/media/videos/flamels-video.mp4" type="video/mp4">
    </video>
</div>
